body {
    background-image: url("https://wallpaperaccess.com/full/171177.jpg");
}

.input-area {
    text-align: center;
    margin: auto;
    display: block;
}

#h1text {
    background-color: aliceblue;
    border-radius: 10px;
    background-size: 50% auto;
    font-family: 'Games', sans-serif;
                                                
}

.input-feild {
    text-align: center;
    height: 20px;
    width: 300px;
    vertical-align: middle;
    border-radius: 10px;
}

#search-btn {
    background-color: blue;
    height: 22px;
    vertical-align: middle;
}


#monsterInfo {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 40rem;
    height: 30rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px yellow;
    background-color: gray;
    margin-left: 30%;
}

.monsterImg {
    justify-self: center;
    height: 12rem;
    width: auto;
}

#right-arrow {
    height: 20px;
    width: 25px;
}

#left-arrow {
    height: 20px;
    width: 25px;
}

#valid {
    background-color: gray;
    box-shadow: 3px 4px yellow;
    position: absolute;
    left: 75%;
    bottom: 50%;
}

